<h1 class="text-center">Log In</h1>

<div class="form">

    <form class="container-mk column-mk content-center" action="/auth/login" method="POST">

        <label for="email">Introduce tu e-mail:</label>
        <input type="text" name="email" id="email" placeholder="email" autofocus>
        <label for="password">Introduce tu contraseña:</label>
        <input type="password" name="password" id="password">

        <button class="btn-mk btn-color btn-create" type="submit">Log In</button>
        <p>¿Aún no te has registrado en Team To Learn? <a href="/auth/signup">Hazlo aquí</a></p>
        <p>¿Has olvidado tu contraseña? <a href="/auth/resetPwd">Recuperar contraseña</a></p>

    </form>
    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}

</div>
