<h1 class="text-center">Admin page</h1>

<div class="container-mk column-mk content-evenly wrap form">
    <a class="block" href="/admin/user">Modificar usuario</a>
    <a class="block" href="/admin/not-verified">Eliminar usuarios NO VERIFICADOS</a>
    <a href="/admin/test">Modificar test</a>
</div>



