
<h1 class="text-center">Team to Learn</h1>

<section>
    <div id="intro" class="container-mk column-mk align-center text-center">
        <h3>¡Aprende en equipo!</h3>
        <p>Crea tus propios exámenes, compártelos y estudio con tus amig@s.</p>
            <a id="btn-login" class="block btn-mk btn-color btn-login" href="/auth/login"><strong>Log In</strong></a>
        <p>¿Aún no formas parte de Team to Learn? <a href="/auth/signup">Regístrate</a></p>
    </div>
</section>