<div class="container-mk row-mk content-center align-center">
    <a href="/dashboard">
        <img class="arrow" src="/images/arrow-left.png" alt="arrow-left">
    </a>
    <h1 class="text-center title">Nuevo Test</h1>
</div>

<div class="form">
    <form class="container-mk column-mk content-center" action="/test/new" method="POST">

        <label for="title">Título del test</label>
        <input type="text" name="title" autofocus>
        <label for="subject">Temario del test</label>
        <input type="text" name="subject">
        <label for="numValid">Número de respuestas válidas</label>
        <input type="text" name="numValid">
        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}

        <button class="btn-mk btn-color btn-create" type="submit">Crear nuevo test!</button>

    </form>
</div>